<a href="https://api.lyft.com/oauth/authorize?client_id=Th3QWxlQXz9y&scope=public%20profile%20rides.read%20rides.request%20offline&state=&response_type=code"> Test </a>
<br><br>

<% if session[:lyft_access_token].present? %>
  <a href="/profile">Profile</a>
<% end %>
